<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - IIITDM Clubs</title>
  <link rel="stylesheet" href="/css/login/style.css" />
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="/img/admin.png" alt="Campus" class="bg-image">
    </div>
    <div class="right-panel">
      <div class="form-container">
        <img src="/img/image-6.png" class="logo" alt="IIITDM Logo" />
        <h2>Login to your Account</h2>
        <form method="POST" action="/auth">
          <label for="email">Username</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <% if (error) { %>
            <div class="error-message"><%= error %></div>
          <% } %>
          <button type="submit">Login</button>
        </form>
        <a href="../clubs/guest" class="guest-btn">Continue as Guest</a>
        <footer>IIITDM CLUBS</footer>
      </div>
    </div>
  </div>
</body>
</html>
