:root {
    --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-m3-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-m3-mode="light"] {
    --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  }
  
  [data-m3-mode="light-high-contrast"] {
    --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  }
  
  [data-m3-mode="light-medium-contrast"] {
    --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  }
  
  [data-m3-mode="dark"] {
    --m3-schemes-surface-container-highest: rgba(54, 52, 59, 1);
  }
  
  [data-m3-mode="dark-high-contrast"] {
    --m3-schemes-surface-container-highest: rgba(54, 52, 58, 1);
  }
  
  [data-m3-mode="dark-medium-contrast"] {
    --m3-schemes-surface-container-highest: rgba(54, 52, 58, 1);
  }
  
  [data-m3-mode="monochrome-LT"] {
    --m3-schemes-surface-container-highest: rgba(226, 226, 226, 1);
  }
  
  [data-m3-mode="monochrome-DT"] {
    --m3-schemes-surface-container-highest: rgba(53, 53, 53, 1);
  }
  
  [data-m3-mode="pink-LT"] {
    --m3-schemes-surface-container-highest: rgba(238, 223, 227, 1);
  }
  
  [data-m3-mode="pink-DT"] {
    --m3-schemes-surface-container-highest: rgba(59, 50, 53, 1);
  }
  
  [data-m3-mode="rose-LT"] {
    --m3-schemes-surface-container-highest: rgba(240, 222, 223, 1);
  }
  
  [data-m3-mode="rose-DT"] {
    --m3-schemes-surface-container-highest: rgba(61, 50, 51, 1);
  }
  
  [data-m3-mode="red-LT"] {
    --m3-schemes-surface-container-highest: rgba(241, 222, 220, 1);
  }
  
  [data-m3-mode="red-DT"] {
    --m3-schemes-surface-container-highest: rgba(61, 50, 49, 1);
  }
  
  [data-m3-mode="orange-LT"] {
    --m3-schemes-surface-container-highest: rgba(240, 223, 215, 1);
  }
  
  [data-m3-mode="orange-DT"] {
    --m3-schemes-surface-container-highest: rgba(61, 51, 45, 1);
  }
  
  [data-m3-mode="yellow-LT"] {
    --m3-schemes-surface-container-highest: rgba(235, 225, 212, 1);
  }
  
  [data-m3-mode="yellow-DT"] {
    --m3-schemes-surface-container-highest: rgba(57, 52, 43, 1);
  }
  
  [data-m3-mode="chartreuse-LT"] {
    --m3-schemes-surface-container-highest: rgba(229, 227, 214, 1);
  }
  
  [data-m3-mode="chartreuse-DT"] {
    --m3-schemes-surface-container-highest: rgba(53, 53, 45, 1);
  }
  
  [data-m3-mode="green-LT"] {
    --m3-schemes-surface-container-highest: rgba(224, 228, 219, 1);
  }
  
  [data-m3-mode="green-DT"] {
    --m3-schemes-surface-container-highest: rgba(49, 54, 48, 1);
  }
  
  [data-m3-mode="teal-LT"] {
    --m3-schemes-surface-container-highest: rgba(221, 228, 225, 1);
  }
  
  [data-m3-mode="teal-DT"] {
    --m3-schemes-surface-container-highest: rgba(48, 54, 52, 1);
  }
  
  [data-m3-mode="cyan-LT"] {
    --m3-schemes-surface-container-highest: rgba(222, 227, 230, 1);
  }
  
  [data-m3-mode="cyan-DT"] {
    --m3-schemes-surface-container-highest: rgba(48, 54, 56, 1);
  }
  
  [data-m3-mode="blue-LT"] {
    --m3-schemes-surface-container-highest: rgba(226, 226, 233, 1);
  }
  
  [data-m3-mode="blue-DT"] {
    --m3-schemes-surface-container-highest: rgba(51, 52, 58, 1);
  }
  
  [data-m3-mode="indigo-LT"] {
    --m3-schemes-surface-container-highest: rgba(229, 225, 233, 1);
  }
  
  [data-m3-mode="indigo-DT"] {
    --m3-schemes-surface-container-highest: rgba(53, 52, 58, 1);
  }
  
  [data-m3-mode="purple-LT"] {
    --m3-schemes-surface-container-highest: rgba(231, 224, 232, 1);
  }
  
  [data-m3-mode="purple-DT"] {
    --m3-schemes-surface-container-highest: rgba(55, 51, 58, 1);
  }
  